#logo {
    width: 200px;
    height: 200px;
    background-image: url('../assets/holberton-logo.jpg');
    background-size: 200px 200px;
    background-repeat: no-repeat;
}

button {
    position: relative;
}

.counter-text {
    position: absolute;
    right: 0;
    font-weight: bold;
}

